In [1]:
import pymysql
import pandas as pd

In [10]:
doc=pd.read_csv("./apart_trade20_10_21_09_copy.csv",encoding="CP949")
doc2=pd.read_csv("./apart_trade19_01_19_12.csv",encoding="CP949")
doc3=pd.read_csv("./apart_trade20_01_20_09.csv",encoding="CP949")
#드라이브에 올렸던 파일입니다! 이거 경로에 맞게 지정해주시면 돼요!

In [12]:
doc=doc.append(doc2).append(doc3)

In [13]:
def split_si(row):
    return row.split()[0]
def split_gu(row):
    return row.split()[1]
def split_dong(row):
    return row.split()[2]

In [14]:
sigungu=doc['시군구']
sigungu

0        서울특별시 강남구 개포동
1        서울특별시 강남구 개포동
2        서울특별시 강남구 개포동
3        서울특별시 강남구 개포동
4        서울특별시 강남구 개포동
             ...
65282    서울특별시 중랑구 중화동
65283    서울특별시 중랑구 중화동
65284    서울특별시 중랑구 중화동
65285    서울특별시 중랑구 중화동
65286    서울특별시 중랑구 중화동
Name: 시군구, Length: 196993, dtype: object

In [15]:
si=sigungu.apply(split_si)
gu=sigungu.apply(split_gu)
dong=sigungu.apply(split_dong)

In [16]:
doc['시']=si
doc['구']=gu
doc['동']=dong

In [17]:
doc=doc[['단지명','전용면적(㎡)','계약년월',"거래금액(만원)","층","건축년도","도로명","시","구","동"]]
doc.columns=["아파트","전용면적","계약년월","금액","층","건축년도","도로명","시","구","동"]

In [18]:
def modify_price(row):
    return row.replace(",","")

In [19]:
doc['금액']=doc['금액'].apply(modify_price)

In [20]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196993 entries, 0 to 65286
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     196993 non-null  object
 1   전용면적    196993 non-null  float64
 2   계약년월    196993 non-null  int64
 3   금액      196993 non-null  object
 4   층       196993 non-null  int64
 5   건축년도    196993 non-null  int64
 6   도로명     196993 non-null  object
 7   시       196993 non-null  object
 8   구       196993 non-null  object
 9   동       196993 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 16.5+ MB

In [21]:
doc=doc.astype({"전용면적":"float","계약년월":"int64","금액":"int64","층":"int64","건축년도":"int64"})
#계약년월은 크게 의미 없을듯, 가격에 대한 것이니까..

In [22]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196993 entries, 0 to 65286
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     196993 non-null  object
 1   전용면적    196993 non-null  float64
 2   계약년월    196993 non-null  int64
 3   금액      196993 non-null  int64
 4   층       196993 non-null  int64
 5   건축년도    196993 non-null  int64
 6   도로명     196993 non-null  object
 7   시       196993 non-null  object
 8   구       196993 non-null  object
 9   동       196993 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 16.5+ MB

In [23]:
doc["건축년도"]=2021-doc["건축년도"]
#년차임 사실상

In [24]:
doc

,아파트,전용면적,계약년월,금액,층,건축년도,도로명,시,구,동
0,개포2차현대아파트(220),77.75,202104,174000,9,33,언주로 103,서울특별시,강남구,개포동
1,개포6차우성아파트1동~8동,54.98,202012,146000,1,34,언주로 3,서울특별시,강남구,개포동
2,개포6차우성아파트1동~8동,79.97,202012,155400,3,34,언주로 3,서울특별시,강남구,개포동
3,개포6차우성아파트1동~8동,79.97,202105,195000,5,34,언주로 3,서울특별시,강남구,개포동
4,개포6차우성아파트1동~8동,79.97,202108,200000,3,34,언주로 3,서울특별시,강남구,개포동
...,...,...,...,...,...,...,...,...,...,...
65282,한영(104),106.21,202003,45400,6,18,동일로144길 74,서울특별시,중랑구,중화동
65283,한영(104),67.57,202008,26000,2,18,동일로144길 74,서울특별시,중랑구,중화동
65284,현대휴앤미,95.94,202007,44000,6,14,봉화산로27가길 23,서울특별시,중랑구,중화동
65285,현대휴앤미(102동),77.71,202009,40000,5,14,봉화산로27가길 19,서울특별시,중랑구,중화동
65286,현대휴앤미(102동),77.71,202009,40000,5,14,봉화산로27가길 19,서울특별시,중랑구,중화동

In [25]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196993 entries, 0 to 65286
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     196993 non-null  object
 1   전용면적    196993 non-null  float64
 2   계약년월    196993 non-null  int64
 3   금액      196993 non-null  int64
 4   층       196993 non-null  int64
 5   건축년도    196993 non-null  int64
 6   도로명     196993 non-null  object
 7   시       196993 non-null  object
 8   구       196993 non-null  object
 9   동       196993 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 16.5+ MB

In [26]:
import pandas as pd
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"sql2017920017"+"@localhost/school", encoding='utf-8')
#root=username 두번째가 "pw" 3번째 /dbname입니다
conn = engine.connect()
doc.to_sql(name="price2",con=engine,if_exists='append',index=False)
conn.close()

In [27]:
db=pymysql.connect(host='localhost',port=3306,user='root',passwd='sql2017920017',db='school',charset='utf8')
#이건 그냥 테이블에 잘 들어갔는지 확인용이라 안하셔도됩니다!
SQL="select * from price2"

price=pd.read_sql(SQL,db)

In [28]:
price

,아파트,전용면적,계약년월,금액,층,건축년도,도로명,시,구,동
0,개포2차현대아파트(220),77.75,202104,174000,9,33,언주로 103,서울특별시,강남구,개포동
1,개포6차우성아파트1동~8동,54.98,202012,146000,1,34,언주로 3,서울특별시,강남구,개포동
2,개포6차우성아파트1동~8동,79.97,202012,155400,3,34,언주로 3,서울특별시,강남구,개포동
3,개포6차우성아파트1동~8동,79.97,202105,195000,5,34,언주로 3,서울특별시,강남구,개포동
4,개포6차우성아파트1동~8동,79.97,202108,200000,3,34,언주로 3,서울특별시,강남구,개포동
...,...,...,...,...,...,...,...,...,...,...
196988,한영(104),106.21,202003,45400,6,18,동일로144길 74,서울특별시,중랑구,중화동
196989,한영(104),67.57,202008,26000,2,18,동일로144길 74,서울특별시,중랑구,중화동
196990,현대휴앤미,95.94,202007,44000,6,14,봉화산로27가길 23,서울특별시,중랑구,중화동
196991,현대휴앤미(102동),77.71,202009,40000,5,14,봉화산로27가길 19,서울특별시,중랑구,중화동
196992,현대휴앤미(102동),77.71,202009,40000,5,14,봉화산로27가길 19,서울특별시,중랑구,중화동

In [ ]:
#price는 1년차에 들어있고, price2에 최근 3년차 들어있음!!

In [29]:
price=pd.read_sql("SELECT * from price",db)

In [30]:
price

,아파트,전용면적,계약년월,금액,층,건축년도,도로명,시,구,동
0,개포2차현대아파트(220),77.75,202104,174000,9,33,언주로 103,서울특별시,강남구,개포동
1,개포6차우성아파트1동~8동,54.98,202012,146000,1,34,언주로 3,서울특별시,강남구,개포동
2,개포6차우성아파트1동~8동,79.97,202012,155400,3,34,언주로 3,서울특별시,강남구,개포동
3,개포6차우성아파트1동~8동,79.97,202105,195000,5,34,언주로 3,서울특별시,강남구,개포동
4,개포6차우성아파트1동~8동,79.97,202108,200000,3,34,언주로 3,서울특별시,강남구,개포동
...,...,...,...,...,...,...,...,...,...,...
56622,한영(101),57.66,202102,30500,5,18,동일로144길 74,서울특별시,중랑구,중화동
56623,한영(102),72.22,202105,49500,4,18,동일로144길 74,서울특별시,중랑구,중화동
56624,한영(103),58.46,202107,30000,2,18,동일로144길 74,서울특별시,중랑구,중화동
56625,한영(103),104.93,202108,61500,7,18,동일로144길 74,서울특별시,중랑구,중화동
56626,현대휴앤미,100.17,202012,54800,5,14,봉화산로27가길 23,서울특별시,중랑구,중화동