In [3]:
import pymysql
import pandas as pd

In [76]:
doc=pd.read_csv("C:\\Users\\kjy77\\1_Python\\apt_list.csv",encoding="utf-8-sig",header=None)

In [77]:
doc.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,개포동 개포우성3차,개포동 우성3차,아파트,405세대,1984년 12월(38년차),5개동,최고 15층,용적률 178%,건폐율 13%,계단식,중앙난방,도시가스,내진설계대상,평지에 있는 단지,NaN,NaN
1,개포동 경남1,개포동 경남,아파트,678세대,1984년 3월(38년차),9개동,최고 15층,용적률 175%,건폐율 14%,계단식,지역난방,열병합,NaN,NaN,NaN,NaN
2,개포동 디에이치아너힐즈,개포동 디에이치아너힐즈,아파트,"1,320세대",2019년 8월(3년차),23개동,최고 33층,용적률 249%,건폐율 19%,계단식,개별난방,도시가스,NaN,NaN,NaN,NaN
3,개포동 래미안블레스티지,개포동 래미안블레스티지,아파트,"1,957세대",2019년 2월(3년차),23개동,최고 35층,용적률 249%,건폐율 18%,계단식,개별난방,도시가스,NaN,NaN,NaN,NaN
4,개포동 현대2,개포동 현대2차,아파트,558세대,1986년 1월(36년차),13개동,최고 9층,용적률 156%,건폐율 17%,계단식,지역난방,열병합,내진설계대상,평지에 있는 단지,NaN,NaN

In [78]:
doc=doc[[0,1,3,4,5]]

In [79]:
households=doc[3]
year=doc[4]

In [80]:
for household in households:
    if "세대" not in household:
        print("ㅈ됨")

In [81]:
for tmp in year:
    if "년차)" not in tmp:
        print("ㅠㅠ")
    if "년" not in tmp:
        print("bb")
    if "월" not in tmp:
        print("aa")
        
#혹시나 세대수나 년 말고 다른 데이터 들어있는지 체크

In [84]:
def modify_dong(data):
    if "개동" not in data:
        return None
    else:
        data=data.replace("개동","")
        return data


def modify_household(data):
    data = data.replace("세대", "").replace(",","")
    return data


def modify_year(data):
    import re
    pattern = re.compile('\(([^)]+)\)')
    findalled = pattern.findall(data)
    res = findalled[0].replace("년차","")
    return res

In [85]:
doc

,0,1,3,4,5
0,개포동 개포우성3차,개포동 우성3차,405세대,1984년 12월(38년차),5개동
1,개포동 경남1,개포동 경남,678세대,1984년 3월(38년차),9개동
2,개포동 디에이치아너힐즈,개포동 디에이치아너힐즈,"1,320세대",2019년 8월(3년차),23개동
3,개포동 래미안블레스티지,개포동 래미안블레스티지,"1,957세대",2019년 2월(3년차),23개동
4,개포동 현대2,개포동 현대2차,558세대,1986년 1월(36년차),13개동
...,...,...,...,...,...
1185,진관동 은평뉴타운 폭포동(힐스테이트D-9),진관동 은평뉴타운폭포동힐스테이트,571세대,2010년 6월(12년차),15개동
1186,창신동 창신이수,창신동 창신이수,113세대,2002년 12월(20년차),1개동
1187,평창동 밀레니엄,평창동 밀레니엄,19세대,2017년 3월(5년차),개별난방
1188,묵동 묵동자이(2단지),묵동 묵동자이,274세대,2010년 12월(12년차),2개동
1189,신내동 다우훼밀리,신내동 신내다우훼미리,152세대,1998년 11월(24년차),1개동

In [86]:
doc[3]=doc[3].apply(modify_household)
doc[4]=doc[4].apply(modify_year)
doc[5]=doc[5].apply(modify_dong)

In [87]:
doc.columns=["아파트","아파트(호갱노노)","세대수","년차","동수"]

In [88]:
doc

                          아파트          아파트(호갱노노)   세대수  년차    동수
0                  개포동 개포우성3차           개포동 우성3차   405  38     5
1                     개포동 경남1             개포동 경남   678  38     9
2                개포동 디에이치아너힐즈       개포동 디에이치아너힐즈  1320   3    23
3                개포동 래미안블레스티지       개포동 래미안블레스티지  1957   3    23
4                     개포동 현대2           개포동 현대2차   558  36    13
...                       ...                ...   ...  ..   ...
1185  진관동 은평뉴타운 폭포동(힐스테이트D-9)  진관동 은평뉴타운폭포동힐스테이트   571  12    15
1186                 창신동 창신이수           창신동 창신이수   113  20     1
1187                 평창동 밀레니엄           평창동 밀레니엄    19   5  None
1188             묵동 묵동자이(2단지)            묵동 묵동자이   274  12     2
1189                신내동 다우훼밀리        신내동 신내다우훼미리   152  24     1

[1190 rows x 5 columns]

In [90]:
doc=doc.astype({"세대수":"int64","년차":"int64"})

In [92]:
doc.info()
#동수는 어쩔수가 없음, 꺼낸후에 다시 astype한 뒤에 하기!!(동수때매 데이터 통째로 버리는건 좀 그래서 냅둠)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   아파트        1190 non-null   object
 1   아파트(호갱노노)  1190 non-null   object
 2   세대수        1190 non-null   int64
 3   년차         1190 non-null   int64
 4   동수         1065 non-null   object
dtypes: int64(2), object(3)
memory usage: 46.6+ KB

In [93]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"sql2017920017"+"@localhost/school", encoding='utf-8')
conn = engine.connect()
doc.to_sql(name="apt",con=engine,if_exists='append',index=False)
conn.close()

In [94]:
db=pymysql.connect(host='localhost',port=3306,user='root',passwd='sql2017920017',db='school',charset='utf8')
SQL="select * from apt"

apt=pd.read_sql(SQL,db)

In [95]:
apt

                          아파트          아파트(호갱노노)   세대수  년차    동수
0                  개포동 개포우성3차           개포동 우성3차   405  38     5
1                     개포동 경남1             개포동 경남   678  38     9
2                개포동 디에이치아너힐즈       개포동 디에이치아너힐즈  1320   3    23
3                개포동 래미안블레스티지       개포동 래미안블레스티지  1957   3    23
4                     개포동 현대2           개포동 현대2차   558  36    13
...                       ...                ...   ...  ..   ...
1185  진관동 은평뉴타운 폭포동(힐스테이트D-9)  진관동 은평뉴타운폭포동힐스테이트   571  12    15
1186                 창신동 창신이수           창신동 창신이수   113  20     1
1187                 평창동 밀레니엄           평창동 밀레니엄    19   5  None
1188             묵동 묵동자이(2단지)            묵동 묵동자이   274  12     2
1189                신내동 다우훼밀리        신내동 신내다우훼미리   152  24     1

[1190 rows x 5 columns]