In [14]:
import pandas as pd
import pymysql
import openpyxl
excel_file = openpyxl.load_workbook('C:\\Users\\kjy77\\Downloads\\행정동코드_매핑정보_20200325.xlsx')
excel_sheet=excel_file.active
excel_sheet=excel_file.get_sheet_by_name("행정동코드")
df=pd.DataFrame(excel_sheet.values)
#pd.set_option('display.max_rows',None)

<ipython-input-14-ab0f5a10f8a5>:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  excel_sheet=excel_file.get_sheet_by_name("행정동코드")

In [15]:
df.columns=df.iloc[0]
df=df.drop(0)
df=df.drop(1)

In [16]:
df

0   통계청행정동코드  행자부행정동코드 시도명 시군구명  행정동명
2    1101053  11110530  서울  종로구   사직동
3    1101054  11110540  서울  종로구   삼청동
4    1101055  11110550  서울  종로구   부암동
5    1101056  11110560  서울  종로구   평창동
6    1101057  11110570  서울  종로구   무악동
..       ...       ...  ..  ...   ...
421  1125070  11740690  서울  강동구  둔촌1동
422  1125071  11740700  서울  강동구  둔촌2동
423  1125072  11740570  서울  강동구  암사1동
424  1125073  11740610  서울  강동구  천호2동
425  1125074  11740685  서울  강동구    길동

[424 rows x 5 columns]

In [18]:
from sqlalchemy import create_engine
# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"sql2017920017"+"@localhost/school", encoding='utf-8')
conn = engine.connect()
df.to_sql(name="dong_code",con=engine,if_exists='append',index=False)
conn.close()